/* studentGold.css */

/* GOLD 팝업 */

#goldModal .studentModalBox h2 {
    color: #F15B18;
}

#goldModal .studentModalBox {
    overflow: hidden;
}

.goldModalTitle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    border-bottom: 1px solid #E5E5E5;
}

.goldModalTitle button {
    position: absolute;
    left: 18px;
    margin-top: 6px;
    min-width: 64px;
    height: 28px;
    padding: 0 10px;
    border: none;
    border-radius: 7px;
    background: #F15B18;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 700;
    line-height: 1;
}

.goldModalTitle span {
    margin: 0 auto;
}

.goldModalTitle button:active {
    transform: scale(0.95);
}

/* GOLD 내역 */

#goldContent {
    width: calc(100% - 34px);
    max-height: 60dvh;
    margin: 1.8px auto 0;
    overflow-y: auto;
    overflow-x: hidden;
}